.navbar-brand img {
        margin:0 50px;
        max-height: 50px;
        padding-top: 0;
    }
  .navbar-header {
        width:100%;
        display: flex;
        align-items: center;
    }
   .navbar-header .d-flex{
        width:100%;
        justify-content:flex-end;
    }

.login_form .login_button, .signup_form .signup_button{
    background-color: #8686b3;
}

.sidebar {
    position: fixed;
    top: 56px; /* Height of the navbar */
    bottom: 0;
    left: 0;
    width: 250px;
    padding: 20px;
    background-color: #f8f9fa;
}
.sidebar .nav-item.active{
    font-weight:bolder;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

 .category-list {
    list-style: none;
    padding: 0;
}

.category-item {
    padding: 10px;
    margin: 5px 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: move;
}

.menuitems tr img{
    width:50px;
    height:50px;
}

#suggestions-dropdown {
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%; 
    background-color: #ddd;
    border-top: none;
    max-height: 250px;
    overflow-y: auto;
    z-index: 1000;
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.location-list .locationcard-button{
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    border: none;
}
.location-list .delete-location{
    float:right
}

/* User Dashboard */
.main-menu-items .card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.main-menu-items .card img {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    object-fit: cover;
    height: 100%;
}
.main-menu-items .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-menu-items .display-quantity  {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: white;
    border-radius: 500px;
}
.quick-add-minus,.quick-add-plus{
    background: unset;
    border: none;
    -webkit-box-align: center;
    align-items: center;
}
/* Cart Sidebar Styles */
.cart-sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 1000;
}

.cart-sidebar.show {
    right: 0;
}

.close-btn {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    background: none;
    border: none;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.cart-items {
    margin-top: 20px;
}

.cart-items .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.cart-items .cart-item-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.cart-item-details h5 {
    margin: 0;
}

.cart-footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

/* Overlay for the popup */
.address-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; /* Hidden by default */
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Popup content box */
.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    position: relative;
    text-align: center;
}

/* Close button */
.addressPopup-close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
}

/* Search container */
.search-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
    margin-top: 20px;
}

/* Search icon */
.search-icon {
    font-size: 18px;
    color: #aaa;
    margin-right: 8px;
}

/* Search input */
.search-input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    font-size: 16px;
    color: #333;
}